<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuexiang.xutil">

    <!--进程杀死-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--文件读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".system.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/XUtil_Activity_Translucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider4Utils"
            android:authorities="${applicationId}.xutil.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xutil_provider_paths" />
        </provider>

    </application>
</manifest>
